@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('Roboto-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('Roboto-ThinItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('Roboto-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('Roboto-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('Roboto-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('Roboto-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('Roboto-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('Roboto-BlackItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  src: url('Inter-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  src: url('Inter-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('Inter-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('Inter-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('Inter-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  src: url('Inter-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('Inter-Black.ttf') format('ttf');
}
