.responsive-image {
  background-position: center;
}
.image {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-position: center center;
  object-fit: cover;
}
