.d-picker {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.ant-picker-panel .ant-picker-footer {
  display: none;
}
.d-picker > .ant-picker {
  width: 140px;
  background: #e3f0ff;
  border-radius: 10px;
  border: none;
  height: 44px;
}
.range-text {
  display: flex;
  font-size: 14px;
  color: #a8a8a8;
}
