.login_area {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  padding-bottom: 40px;
  /* padding-top: 1rem; */
  width: 100%;
}
.login_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 97px;
}
.sektor_text {
  color: #2d3748;
  font-weight: 700;
  font-size: 18px;
}
.phone-input {
  font-size: 20px;
  color: #000;
  margin-top: 0.25rem;
}

.phone-input input {
  border: none;
  outline: none;
  font-size: 18px;
  border: #e2e8f0 1px solid;
  border-radius: 5px;
}

.first-input input::placeholder {
  font-size: 18px;
  padding: 0 5px;
  color: #6b7280;
  letter-spacing: 2px;
}

.phone-input .ant-input-group-addon {
  font-size: 20px;
  background-color: #e2e8f0;
  color: #383838;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 0.5rem;
  padding-left: 0.75rem;
}
/* login */

.second-input input::placeholder {
  font-size: 18px;
  padding: 0 5px;
  color: #6b7280;
  letter-spacing: 2px;
}
.password-input {
  justify-content: center;
  border: none;
  border-radius: 5px;
  width: 100% !important;
  height: 40px;
}
.second-input input,
.password-input .ant-input-suffix {
  font-size: 18px;
}
.label-text {
  color: #38385b;
  font-size: 13px;
  margin-left: 0.5rem;
}

.second-input,
.first-input,
.switch-login {
  width: 100%;
}

.surroundedInput {
  border: #e2e8f0 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-login .ant-switch-checked {
  background-color: #8876d7;
}
.enter_btn {
  width: 380px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #8876d7;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.enter_btn:hover {
  background-color: rgb(136, 118, 215, 0.9);
  cursor: pointer;
}
